<!-- #Muhammad faisal Nur - 1301164372 -->
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Hasil Bayes</h1>
	    File Name : {{result[0]}} <a href="http://localhost:5000/download/TebakanTugas1ML.csv">Download</a> <br>
            <table class="table table-striped">
                <thead>
                    <th>ID</th>
                    <th>Age</th>
                    <th>Workclass</th>
                    <th>Education</th>
                    <th>Marital Status</th>
                    <th>Occupation</th>
                    <th>Relationship</th>
                    <th>Hours per Week</th>
                    <th>Income</th>
                </thead>
                <tbody>
                    {% for data in result[1] %}
                    <tr>
                        <td>{{data[0]}}</td>
                        <td>{{data[1]}}</td>
                        <td>{{data[2]}}</td>
                        <td>{{data[3]}}</td>
                        <td>{{data[4]}}</td>
                        <td>{{data[5]}}</td>
                        <td>{{data[6]}}</td>
                        <td>{{data[7]}}</td>
                        <td>{{data[8]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>
