<html>
    <head>
        <title>Naive Bayes</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Upload Success!</h1>
            <a href="http://localhost:5000/hasil"><button>Learning</button></a><br><br>
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#datatrain" role="tab" data-toggle="tab">Data Train</a></li>
                <li><a href="#datatest" role="tab" data-toggle="tab">Data Test</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="datatrain">
                    File Name : {{result[0]}} <br>
                    <table class="table table-striped">
                        <thead>
                            <th>ID</th>
                            <th>Age</th>
                            <th>Workclass</th>
                            <th>Education</th>
                            <th>Marital Status</th>
                            <th>Occupation</th>
                            <th>Relationship</th>
                            <th>Hours per Week</th>
                            <th>Income</th>
                        </thead>
                        <tbody>
                            {% for data in result[2] %}
                            <tr>
                                <td>{{data[0]}}</td>
                                <td>{{data[1]}}</td>
                                <td>{{data[2]}}</td>
                                <td>{{data[3]}}</td>
                                <td>{{data[4]}}</td>
                                <td>{{data[5]}}</td>
                                <td>{{data[6]}}</td>
                                <td>{{data[7]}}</td>
                                <td>{{data[8]}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="datatest">
                    File Name : {{result[1]}} <br>
                    <table class="table table-striped">
                        <thead>
                            <th>ID</th>
                            <th>Age</th>
                            <th>Workclass</th>
                            <th>Education</th>
                            <th>Marital Status</th>
                            <th>Occupation</th>
                            <th>Relationship</th>
                            <th>Hours per Week</th>
                            <th>Income</th>
                        </thead>
                        <tbody>
                            {% for data in result[3] %}
                            <tr>
                                <td>{{data[0]}}</td>
                                <td>{{data[1]}}</td>
                                <td>{{data[2]}}</td>
                                <td>{{data[3]}}</td>
                                <td>{{data[4]}}</td>
                                <td>{{data[5]}}</td>
                                <td>{{data[6]}}</td>
                                <td>{{data[7]}}</td>
                                <td>?</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>